.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(
        130deg
        ,#ff7a18,#af002d 41.07%,#319197 76.05%);
    position: sticky;
    top: 0;
    z-index: 100;
}

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .header__tripleDot {
      padding-top: 2px;
      padding-left: 2px;
      padding-right: 2px;
      border-radius: 25px;
      background-color: white;
      position: absolute;
      right: 3%;
      top: 5%;
  }
@media all and (max-width: 627px) {
    .header {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
      margin: 10px;
      border-radius: 10px;

    }

    .header__logo {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0 !important;
        padding: 0;
    }

     .header__nav {
        /* On small screens, we are no longer using row direction but column */
        margin-top: 130px;
        margin-bottom: 30px;

        flex-direction: column;
        background-color: #131921;
        width: 100%;
        border-radius: 0 0 10px 10px;

     }

     .header__option:last-child {
        margin-bottom: 5px;
     }

    }
.drop > #dropdown-basic {
    background-color: transparent !important;
    border-color: transparent !important;

}

.dropdown-toggle::after {
    content: none !important;
}

.dropdown-toggle {
    transition: color .0005s cubic-bezier(0.215,0.61,0.355,1),background-color .0005s cubic-bezier(0.215,0.61,0.355,1),border-color .0005s cubic-bezier(0.215,0.61,0.355,1),box-shadow .0005s cubic-bezier(0.215,0.61,0.355,1) !important;
    -webkit-transition: color .0005s cubic-bezier(0.215,0.61,0.355,1),background-color .0005s cubic-bezier(0.215,0.61,0.355,1),border-color .0005s cubic-bezier(0.215,0.61,0.355,1),box-shadow .0005s cubic-bezier(0.215,0.61,0.355,1) !important;
}

.drop > #dropdown-basic:focus {
    box-shadow: none !important;
}

.drop #dropdown-wrapper {
    transition: 150ms cubic-bezier(0.215,0.61,0.355,1);
    -webkit-transition: 150ms cubic-bezier(0.215,0.61,0.355,1);
}


.header__logo {
    width: 100px;
    /* object-fit: contain; */
    margin: 0 20px;
    margin-top: 40px;
    flex: 0.2;
}


.header__optionLineTwo {
    font-size: 1rem;
}

.header__nav {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 0.6;
    /* padding: 0 80px; */
}

.header__option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    color: white;

}

.header__option > a {
    color: white !important;
    border-width: 0px 0px 0px;
    box-sizing: content-box !important;

    transition: border-width 150ms cubic-bezier(0.215,0.61,0.355,1);
    -webkit-transition: border-width 150ms cubic-bezier(0.215,0.61,0.355,1);

}

.header__option > a:hover {
    border-width: 0px 0px 2px;
    border-color: #0056b3;
    
}

.plan > a {
    border-width: 0px 0px 2px !important;
    border-color: #0056b3 !important;
    
}

.plan > a:hover {
    border-width: 0px 0px 0px  !important;
}


.header > a {
    color: white !important;
    border-width: 0px 0px 0px;
}



.header__option > a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    
}