* {
  margin: 0;
  padding: 0;
  /* box-sizing: content-box !important; */
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif !important; 
  min-height: 100vh;

}
header {
  font-size: 2rem;
}

@media all and (max-width: 627px) {
  header {
    margin-top: 50px;

  }
}

.madeBy {
    z-index: -1;

}

.madeBy button{
  margin-right: 20px;
  text-align: right;
  position: fixed;
  bottom: 10px;
  right: 20px;
  border: solid 1px white;
  border-radius: 30px;
  padding: 5px 10px;
  text-transform: none;
}
header,
form {
  min-height: 20vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

form input{
  border-radius: 10px 0 0 10px;
  outline-width: 0;
  padding-left: 1rem !important;
  margin-left: 10px !important;

}

#calendar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 0.5rem;
}


form input,
form button {
  padding: 0.45rem;
  font-size: 2rem;
  border: none;
  background: white;

}


.todo input {
  padding: 0rem 0.5rem;
  font-size: 1.5rem;
  border: none;
  background: white;
  outline-width: 0;
}

form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 800ms cubic-bezier(0.215,0.61,0.355,1);  -webkit-transition: all 800ms cubic-bezier(0.215,0.61,0.355,1);
}

form button:hover {
  background: #ff6f47;
  color: white;
}

form > button:last-of-type {
  border-radius: 0 10px 10px 0;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.edit-btn,
.complete-btn,
.timer-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.edit-btn{
  background: rgb(220, 241, 236);
  color: black;
}

.timer-btn{
  background:rgb(145, 238, 145);
  color: black;
}

div .show{
  display: flex;
}
div .hide{
  display: none;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;

}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 11rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

/* .select:hover::after {
  transform: scale(1.5);
} */


.search {
  position: absolute;
  top: 242px;
  left: 25%;
  font-size: 2px;
}

.search > button {
  width: 505px;
  position: absolute;
  left: 0;
  top: 353px;
  border: none;
  text-transform: inherit !important;
  background-color: #ff7779;
  color: white;
}

.search > button:hover {
  background-color: white;
  color: #ff7779;
  transition: color .0005s cubic-bezier(0.215,0.61,0.355,1),background-color .0005s cubic-bezier(0.215,0.61,0.355,1),}

.rdrDefinedRangesWrapper {
  width: 150px;
}

.rdrInputRangeInput {
  width: 60px;
  font-size: 1rem;
}

.rdrDateDisplayItem input {
  font-size: 1rem;
}

.rdrMonthAndYearWrapper {
  height: 40px;
}

button.rdrNextPrevButton {
margin: 0 5px;
}

.rdrMonthAndYearPickers select {
  width: 10em;
}

.todo .orange {
  background-color: orange;
  transition: background-color 1s ease;

}

.todo .red {
  background-color: red;
  transition: background-color 1s ease;

}

.button_container{
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 700px;
  flex-direction: column;

}

.button_container button{
  cursor: pointer;
  margin: 5px 8px;
  border-radius: 30px;
  text-transform: inherit;
  font-weight: 700px;

}

.timer-wrapper {
  display: flex;
}


